@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
body {
	background-color: aliceblue;
	margin: 0;
	max-width: 1000px;
}
* {
	font-family: var(--tipografia);
}
:root {
	--colorAzul: #0c62af;
	--colorGris: #757575;
	--colorBlanquito: #f2f2f2;
	--tipografia: 'Plus Jakarta Sans';
}
.container {
	margin: 2rem auto;
	width: 800px;
}
.zona-input {
	background-color: white;
	border: 5px solid var(--colorAzul);
	border-radius: 25px;

	width: 1000px;
	padding: 25px;
	margin: 25px auto;
	padding-top: 0;
	display: flex;
	gap: 25px;
}
.secc-flex {
	display: flex;
	flex-direction: column;
}
.input-usuario {
	font-family: var(--tipografia);
	color: var(--colorGris);
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1rem;
}
#input-depto {
	font-family: var(--tipografia);
}
#input-mes {
	font-family: var(--tipografia);
}
#input-ubicacion {
	font-family: var(--tipografia);
}
#titulo-lista {
	color: var(--colorAzul);
}
#input-lista {
	font-family: var(--tipografia);
	width: 500px;
	height: 200px;
}
#generar-flyer {
	width: 200px;
	height: 50px;
	color: var(--colorBlanquito);
	background-color: #0c62af;
	border: none;
	font-family: var(--tipografia);
	font-size: 1.25rem;
	border-radius: 12px;
	transition: 200ms;
}
#generar-flyer:hover {
	color: var(--colorAzul);
	background-color: var(--colorBlanquito);
	border: 2px solid var(--colorAzul);
	cursor: pointer;
}
#generar-flyer:active {
	transform: scale(0.9);
}
.area-boletin {
	background: rgb(183, 229, 244);
	background: linear-gradient(
		0deg,
		rgba(183, 229, 244, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	/* border: 1px solid gray; */

	width: 1000px;
	padding: 25px;
	margin: 25px auto;
	position: relative;
	z-index: 1;
}
.encabezado {
	background-image: url(./media/fondo-header.png);
	background-size: cover;
	padding: 30px;
	border-radius: 20px;
	/* box-shadow: -10px 10px rgba(0, 0, 0, 0.199); */

	height: auto;
	display: flex;
	gap: 0;
}
.seccion-titulo {
	height: 100%;
	flex-grow: 1;
}
.seccion-infoadicional {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
}
.titulo {
	font-family: var(--tipografia);
	font-size: 60pt;
	font-weight: 700;
	line-height: 55pt;
	color: var(--colorBlanquito);
	text-shadow: -5px 5px rgba(0, 0, 0, 0.205);
	margin: 0;
}
#depto {
	color: var(--colorBlanquito);
}
#depto::after {
	background-color: #0c62af;
	background-blend-mode: screen;
	/* z-index: ; */
}
.seccion-mes {
	border: 3px white solid;
	border-radius: 20px;
	height: fit-content;

	padding: 10pt;
	align-self: flex-end;
}
.mes {
	font-family: var(--tipografia);
	font-size: 20pt;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 5pt;
	color: var(--colorBlanquito);

	line-height: 20pt;
	margin: 0;
}
.seccion-ubicacion {
	background-color: var(--colorBlanquito);
	border-radius: 20px;
	width: max-content;

	padding: 10pt;
	align-self: flex-end;
}
.ubicacion {
	font-family: var(--tipografia);
	font-size: 20pt;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 5pt;
	color: var(--colorAzul);

	line-height: 20pt;
	margin: 0;
	text-align: right;
}
.seccion-logo {
	/* background-color: var(--colorBlanquito); */
	border-radius: 20px;

	padding: 10px;
	align-self: flex-end;
}
.logo {
	max-height: 60px;
}

.listado {
	/* border: #757575 1px solid; */
	margin-top: 30px;
	padding: 0;
}
#lista {
	font-family: var(--tipografia);
	font-size: 25pt;
	line-height: 40pt;
	font-weight: 500;
	color: #00233f;
	list-style: none;
	margin: 0;
}
#lista li:before {
	content: '\2022';
	color: #1eb3e1;
	display: inline-block;
	width: 35px;
}
.nota {
	font-family: var(--tipografia);
	font-size: 20pt;
	font-weight: 700;
	color: var(--colorGris);
	text-align: right;
}
.footer {
	background-color: white;
	padding: 25px;
	border-radius: 20px;
	border: 5px solid var(--colorAzul);
}
.text-footer {
	font-family: var(--tipografia);
	font-size: 25pt;
	font-weight: 400;
	color: #00233f;
	margin: 0;
}
.correo {
	font-family: var(--tipografia);
	font-size: 25pt;
	font-weight: 600;
	color: #0c62af;
	margin: 20px 0 10px 0;
}
.fondo-2-footer {
	width: 100%;
	height: 150px;
	position: absolute;
	background: rgb(12, 98, 175);
	background: linear-gradient(
		0deg,
		rgba(12, 98, 175, 1) 0%,
		rgba(30, 179, 225, 1) 100%
	);
	margin: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.aviso {
	width: 1000px;
	margin: auto;
}
h2 {
	font-family: var(--tipografia);
	color: var(--colorAzul);
}
p {
	font-family: var(--tipografia);
	color: var(--colorGris);
}
#img-ref {
	max-width: 500px;
}
